### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


.vagrant
.ansible
.ssh
package.box