[defaults]
nocows=true
strategy=free
ansible.limit=all
#stdout_callback=unixy
host_key_checking=false
display_skipped_hosts=no
log_path=.vagrant/ansible.log
inventory=provisioning/environments/prod
roles_path=provisioning/roles:.vagrant/galaxy-roles
remote_user = ansible
